HTML { 	height: 100%; }

BODY {
	margin: 0;
	font-family: 'arial', sans-serif;
	font-size:1em;
	color: #000;
	background-color:#FFF;
	font-weight: normal;
	height: 100%;
}

body.mceContentBody { background: #fff; }

FORM { 	margin: 0; 	padding: 0; }

TABLE {
	border-spacing: 0;
	padding: 0;
	border-collapse: collapse;
}

TD,TH {
	padding: 0;
}

IMG { border: 0; }

a { color:#e4262f; }
a:hover { color:#e4262f; }

a.e-grey { color:#666; }
a.e-grey:hover { color:#f3733b; }

H1,H2,H3 { color:#6a85c2; font-weight:normal; font-style:normal !important; text-transform:uppercase; }
H1 { font-size:1.8em; margin:0 0 10px 0; padding:0; }
H2 { font-size:1.5em; margin:1em 0;  }
H3 { font-size:1.2em;  }

H1 .e-small, H2 .e-small, H3 .e-small {
	font-size:0.7em;
	color: #000;
	text-transform: none;
}

p, .b-ico_left, ul li { margin:3px 0 17px 0; padding:0; line-height:1.4; }

ul { padding-left:25px; }

.clear { clear:both; float:none !important; }

#jquery-overlay, #jquery-lightbox { z-index:999 !important; }


.b-but { background-color: #db4b42; background: linear-gradient(to bottom, #e1893f 0%, #db4b42 100%); display:inline-block; color:#FFF; font-weight:bold; padding:0.2em 1.2em 0.3em; border-radius:1em; border:none; cursor:pointer; text-decoration:none; }
.b-but:hover { background-color: #db4b42; background: linear-gradient(to bottom, #e1893f 0%, #db4b42 100%); color:#FFF; }

.e-but_grey { background:#666; font-weight:normal; }

.errorMessage { color:red; }

.b-modal_shell { position:absolute; max-width:30em; background-color:#f7f8f3; padding:1em; }

table.b-shell { width:100%; height:100%;   }
table.b-shell td.b-head { vertical-align:top; padding:0;  height: 7.8em;  }
table.b-shell td.b-main { vertical-align:top; padding:0 0 30px 0;  }
table.b-shell td.b-footer { height:8em; padding:1em; vertical-align:top; background:#374140; color:#FFF; font-size:0.7em; }

table.b-shell td.b-footer table { width:1000px; margin:0 auto; font-family:Arial;  }
table.b-shell td.b-footer table td { vertical-align:top; }
table.b-shell td.b-footer table td p { margin:0 0 10px 0; }
.b-footer a { color:#FFF;}
.b-footer .e-menu { display:block; margin-bottom:10px; }



.b_shell_head { max-width:1200px; margin:0 auto; padding-top:1em;  }

.b-logo { width:16.93em;  padding:0; margin:0 1em;  display:block; float:left; text-decoration:none; color:#6a85c2;  text-transform:uppercase; font-size:1.5em; }
.b-logo .e-small { display:block; font-size:0.5em; }

.b_shell_head .b-tel { float:right; text-align:center; padding-top:0.6em; margin-right:1em; }
.b_shell_head .b-tel .e-number {  font-size:1.125em; font-weight:bold; }
.b_shell_head .b-tel .e-hours { color:#666; font-size:0.7em; margin:0.2em 0 0 0; }
.b_shell_head .b-tel_but { float:right; font-size:0.9em; padding:0.7em 1em 0.7em 2em; color:#000; text-decoration:none; text-transform:uppercase;  border: 2px solid #85acd5; position:relative; margin-right:1em; } 
.b_shell_head .b-tel_but:before {
    content: "";
    width: 1em;
    height: 1.1em;
    background: url('/images/ico-button-callback.png') 0 0 no-repeat;
    position: absolute;
    left: 0.5em;
    top: 0.7em;   
}
.b_shell_head .b-tel_but:hover { background-color:#85acd5; color:#FFF; }
.b_shell_head .b-tel_but:hover:before { background-position:0 100%; }

.b_shell_head .b-bus { float:right; padding:0 0 0 5.5em; margin-right:1em; background:url('/images/bus.png') left center no-repeat; height:3em;  background-size:contain;  }

.b-menu { color: #171717; background-color:#ebebeb; padding:0 1em 0 1em; margin-top:1em; text-transform:uppercase; }
.b-menu .e-menu, .b-menu .e-partner { font-size:0.9em; margin-right:2%; text-decoration:none; display:block; float:left; padding:1em; font-weight:bold; }
.b-menu a {  color:inherit; }
.b-menu .e-menu:hover { background-color:#e4262f; color:#FFF; }
.b-menu .e-partner { width:4em; height:0.4em; margin-top:0.3em; background:url('/images/partner.png') center center no-repeat; background-size:contain; }

.b-promo {	
	display:block;
	position:relative;
	/* padding-top:48%; */
	height:25em;	
	background-position:center center;
	background-repeat:no-repeat;	
	margin-bottom:1em;
}

.b-promo img {
	max-width:100%;	
}


.b-tesis {	
	background:url('/images/icons/dom.png') left top no-repeat;
	padding:0 2em 0 2.9em;
	background-size:2.5em auto;
	width:41%;
	float:left;
	min-height:4em;
}

.b-reasons {
	
}

.b-reasons .e-item {
	display:block;
	float:left;
	width:11em;
	min-height:5em;
	margin:0 1.7em 1em 0;	
	padding:7em 0 0 0em;
	background:url('/images/icons/reason-1.jpg') center top no-repeat;
	background-size:auto 6.8em;
	text-align:center;
	font-size:0.9em;
}

.b-fotos { margin-bottom:2em; }
.b-fotos .e-row { 
	display:block; 
	width:31%; 
	min-height:14em; 
	float:left; 
	margin-left:3%; 
	margin-bottom:3%; 
	text-align:center;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}
.b-fotos .e-row:nth-child(3n-2) { margin-left:0; }
.b-fotos .e-row img { max-width:100%; max-height:100%; border:1px solid #eba632; }


.b-complexes {
	
}

.b-complexes .e-item {
	float:left;
	width:23.5%;	
	margin-left:2%;	
	text-decoration:none;
	color:#000;
	padding-bottom:2em;
}

.b-complexes .e-item img { 
	display:block;
	max-width:100%;
	box-shadow: 0px 15px 29px -19px #000000;
	margin-bottom:1em;	
}

.b-complexes .e-item:nth-child(4n-3) { margin-left:0; }
.b-complexes .e-item:nth-child(4n+1) { clear:both; }
.b-complexes .e-item:hover { color:#e4262f; }
.b-complexes .e-item .e-name { display:block; text-transform:uppercase; font-weight:bold; margin-bottom:0.5em; }
.b-complexes .e-item .e-subname { font-size:0.8em; color: #7e8790; }



.b-dom { padding:0.5em 0; }
.b-dom .e-img { display:block;float:left; width:10em; height:7em;   margin-right:1em;  background:url('/images/buildings/1.png') top center no-repeat; background-size:contain; }
.b-dom .e-name {  font-weight:bold; color:#6a85c2;}
.b-dom div { margin-bottom:0.4em; } 

.b-plan { max-width:1200px; height:30em; position:relative; margin:0 auto; background:url('/images/plan.png') bottom left no-repeat;   }

.b-plan .e-plan_point { position:absolute; left:0; width:1em; }

.b-plan .e-row { position:absolute;  border-radius:1em; padding:0.3em 1em; font-size:0.8em; text-align:center; background-color:rgba(255,255,255,0.9);  }
.b-plan .e-row .e-tit { font-size:1.2em; display:block; margin-bottom:0.2em; font-weight:bold; min-width:5em; white-space: nowrap; }
.b-plan .e-row .b-but { display:block; margin-top:0.2em; }
.b-plan .e-row .e-price { white-space: nowrap; }

.b-plan .e-video { display:block; position:absolute; background:url('/images/cam.png') center 0.5em no-repeat rgba(255,255,255,0.9); background-size:4.8em; padding:5em 1em 1em 1em; border-radius:1em; font-size:0.8em;
	top: 13em;
	left: 17em;
	text-align:center;
}




.b-content { max-width:1200px; margin:0 auto; padding:2em 2.5em; }

.yiiPager { display:block; margin:20px auto; text-align:center; }
.yiiPager li { display:inline-block;  text-align:center; width:20px; height:20px; margin:0 5px; }
.yiiPager li a { text-decoration:none; }
.yiiPager .first, .yiiPager .last { display:none; }
.yiiPager .selected { background-color:#cc112f; color:#FFF; }
.yiiPager .selected a { color:#FFF; }

.b-backToTop {
  display: none;
  right: 5px;
  bottom: 5%;
  width: 3em;
  height: 3em;
  background: rgba(255,255,255,0.95);
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  background-color:#374140;
}
.b-backToTop:before {
    content: '';
    display: block;
    width: 80%;
    height: 80%;
    position: absolute;
    top:10%;
    left:10%;
    background:url('/images/ico_arrow_up.png') center center no-repeat;
    background-size:contain;
}

.b-sb { display:block; float:left; margin-right:5px; width:20px; height:20px; background:url('/images/sb.png') left center no-repeat; }

.b-warning {
	border:1px solid #adadad; 
	background-color:#dadada; 
	padding:10px; 
	margin-bottom:20px;	
}

.b-warning h3 { text-align:center; }
.b-warning p {}


img.std {
	max-width:100%;
}

table.std { width:100%; background-color:#f3f3f3; border-top:1px solid #323232; border-left:1px solid #323232;  }
table.std td, table.std th { padding:5px; border-right:1px solid #323232; border-bottom:1px solid #323232; }

table.b-table_padding td, table.b-table_padding th { padding:10px; }


.b-table_std { width:100%; border-bottom:1px solid #999999;  border-top:1px solid #999999; }
.b-table_std td { padding:0.3em 0.7em; text-align:center; }
.b-table_std thead tr {  border-bottom:1px solid #999999; }
.b-table_std thead td { padding:0.7em; font-size:0.75em;  }
.b-table_std tbody tr { border-top:1px solid #cccccc; }
.b-table_std tbody tr:nth-child(1)  { border-top:1px solid #999999; }
.b-table_std tbody td { font-size:0.75em; }
.b-table_std tbody tr.e-hrow td { font-weight:bold; color:#666; padding:0.8em; }



.b-ico_left { padding-left:3.5em; min-height:3em; background:url('/images/icons/eko.png') left top no-repeat; background-size:2.5em auto; }

.b-red { color:#cc112f; }
.b-green { color:#91b33a; }

.b-form { }


.b-etagi { background:url('/images/etagy.png') center center no-repeat; padding:0 3em; background-size:contain; }

.b-order { }
.b-form .e-row { padding-bottom:1em; }
.b-order .e-tit {font-size:1.2em;  margin-bottom:0.5em; }
.b-order .e-val { margin-bottom:1em; }

.b-order .e-field,.b-form .e-field  { width:100%; max-width:25em; padding:0.7em;  background-color:#FFF; border:1px solid #c6c6c6; }
.b-order .b-but, .b-form .b-but { font-size:1.2em; }

.b-order .b-table_std  tbody td { cursor:pointer; }
.b-order .b-table_std  tbody tr:hover td { background-color:#c8c8c8; }


.b-plans { }
.b-plans .e-row { display:block; float:left; width:17%; height:12em; padding:0 3% 0 0; margin-bottom:3em; text-align:center; color:inherit; text-decoration:none; cursor:pointer; }
.b-plans .e-row:nth-child(5n) {  padding-right:0; }
.b-plans .e-row img { max-width:100%; }
.b-plans .e-row .e-zoom { font-size:0.8em; }
.b-plans .e-price {  font-size:0.85em; }



.b-privacy { font-size:0.8em; padding:1em 0; }

.b-docs img { max-width:100%; }

.b-hotOffer { padding-bottom:2em; }
.b-hotOffer .e-item {
	float:left;
	width:23%;
	max-width:17em;
	margin:0 1% 0 1%;
	text-align:center;
} 
.b-hotOffer .e-item .e-name { padding-bottom:0.6em; }
.b-hotOffer .e-item .e-price { font-size:1.3em; padding:0.5em 0; }
.b-hotOffer .e-item .e-plan img { max-height:12em; max-width:100%; }